{{yield}}

<div class="nav">

    <div class="nav__logo gold">
        <a class="nav__logo--link" href="#home">
            <div class="nav__logo--letter">
                <div class="nav__logo--letter--bar flat {{if siteState.logo 'left'}}"></div>
                <div class="nav__logo--letter--bar vert {{if siteState.logo 'translate'}}"></div>
            </div>
            <div class="nav__logo--letter">
                <div class="nav__logo--letter--bar flat initial {{if siteState.logo 'right'}}"></div>
                <div class="nav__logo--letter--bar vert right {{if siteState.logo 'translate'}}"></div>
            </div>
        </a>
    </div>

    <div class="nav__mobile-toggle gold">
        <div class="nav__mobile-toggle--bar"></div>
        <div class="nav__mobile-toggle--bar"></div>
        <div class="nav__mobile-toggle--bar"></div>
    </div>

    <ul class="nav__mobile">
        <li class="nav__mobile--link" data-menuanchor="#app"><a href="#about">About</a></li>
        <li class="nav__mobile--link" data-menuanchor="#contact"><a href="#contact">Contact</a></li>
    </ul>

    <ul class="nav__expanded">
        <li class="nav__expanded--link" data-menuanchor="#app"><a href="#about">About</a></li>
        <li class="nav__expanded--link" data-menuanchor="#contact"><a href="#contact">Contact</a></li>
    </ul>

</div>
