{{nav-menu}}

{{outlet}}

<div class="dots"></div>

{{name-card class="card"}}

{{#fullpage-js}}

    {{section-home class="section home"}}

    {{section-web class="section web"}}

    {{section-design class="section design"}}

    {{section-photo class="section photo"}}

    {{section-app class="section app"}}

    {{section-contact class="section contact"}}

{{/fullpage-js}}
