{{nav-menu}}

{{outlet}}

<div class="dots"></div>

{{name-card class="card (if siteState.hideCard 'fade-out')"}}

{{#fullpage-js}}

    {{section-home class="section home"}}

    {{section-pxl class="section pxl"}}

    {{section-lbsu class="section lbsu"}}

    {{section-photo class="section photo"}}

    {{section-lemossa class="section lemossa"}}

    {{section-about class="section about" data-anchor="about"}}

    {{section-contact class="section contact fp-auto-height" data-anchor="contact"}}

{{/fullpage-js}}
