{{nav-menu}}

{{outlet}}

<div class="dots"></div>

{{name-card class="card"}}

{{#fullpage-js}}

    {{section-home class="section home" data-anchor="home"}}

    {{section-web class="section web" data-anchor="web"}}

    {{section-design class="section design" data-anchor="design"}}

    {{section-photo class="section photo" data-anchor="photo"}}

    {{section-app class="section app" data-anchor="app"}}

    {{section-contact class="section contact fp-auto-height" data-anchor="contact"}}

{{/fullpage-js}}
